<a href="https://colab.research.google.com/github/Kiruthigajayasanker/identifying-patterns-and-trends-in-campus-placement-data-using-meachine-learning/blob/main/campus_interview.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import numpy as np
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import svm
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
from sklearn.model_selection import cross_val_score
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import joblib
from sklearn.metrics import accuracy_score

In [25]:
df=pd.read_csv(r"/content/collegePlace.csv")
df.head()

,Age,Gender,Stream,Internships,CGPA,Hostel,HistoryOfBacklogs,PlacedOrNot
0,22,Male,Electronics And Communication,1,8,1,1,1
1,21,Female,Computer Science,0,7,1,1,1
2,22,Female,Information Technology,1,6,0,0,1
3,21,Male,Information Technology,0,8,0,1,1
4,22,Male,Mechanical,0,8,1,0,1

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2966 entries, 0 to 2965
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Age                2966 non-null   int64
 1   Gender             2966 non-null   object
 2   Stream             2966 non-null   object
 3   Internships        2966 non-null   int64
 4   CGPA               2966 non-null   int64
 5   Hostel             2966 non-null   int64
 6   HistoryOfBacklogs  2966 non-null   int64
 7   PlacedOrNot        2966 non-null   int64
dtypes: int64(6), object(2)
memory usage: 185.5+ KB

In [27]:
df.isnull().sum()

Age                  0
Gender               0
Stream               0
Internships          0
CGPA                 0
Hostel               0
HistoryOfBacklogs    0
PlacedOrNot          0
dtype: int64

In [28]:
def transformationplot(feature):
  plt.figure(figsize=(12,5))
  plt.plot(1,2,1)
  sns.distplot(feature)
  transformationplot(np.log(df['age']))

In [29]:
df=df.replace(['male'],[0])
df=df.replace(['female'],[1])
df=df.replace(['compterscience','Information Teconology','Electronics And Communication','Mechanical','Electrical','Civil'],[0,1,2,3,4,5])
df=df.drop(['Hostel'],axis=1)
df

,Age,Gender,Stream,Internships,CGPA,HistoryOfBacklogs,PlacedOrNot
0,22,Male,2,1,8,1,1
1,21,Female,Computer Science,0,7,1,1
2,22,Female,Information Technology,1,6,0,1
3,21,Male,Information Technology,0,8,1,1
4,22,Male,3,0,8,0,1
...,...,...,...,...,...,...,...
2961,23,Male,Information Technology,0,7,0,0
2962,23,Male,3,1,7,0,0
2963,22,Male,Information Technology,1,7,0,0
2964,22,Male,Computer Science,1,7,0,0
2965,23,Male,5,0,8,0,1

In [30]:
def transmationplot(feature):
  plt.figure(figsize=(12,15))
  plt.subplot(121)
  sns.distplot(df['cgpa'],color='r')
  plt.show()

In [31]:
def transmationplot(feature):
  plt.figure(figsize=(12,3))
  plt.subplot(121)
  sns.distplot(df['placedOrNot'],color='r')
  plt.show()

In [32]:
#plotting the count plot
def transmationplot(feature):
  plt.figure(figsize=(18,4))
  plt.subplot(1,4,1)
  sns.countplot(data['genter'])
  sns.countplot(data['education'])
  plt.show()

In [33]:
def transmationplot(feature):
  plt.figure(figsize=(20,5))
  plt.subplot(131)
  sns.countplot(df["placedOrNot"],hue=df['cgpa'])
  plt.show()

In [35]:
def transmationplot(feature):
  sns.swarmplot(df['placedOrNot'],df['CGPA'],hue=df['Stream'])

In [38]:
sc=StandardScaler()
x_bal=sc.fit_transfrom(x_bal)
x_bal=pd.DataFrame(x_bal,columns=names)

AttributeError: ignored

In [39]:
x=standardsized_data
y=df['placedOrNot']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y,random_state=2)

NameError: ignored